doctype html
html
  head
    title= title
    base(href="/")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
    li 
      a(href="./user/novo") Novo usuário
    li 
      a(href="./user/listar") Listar usuários
    
    li 
      a(href="./users") Listar JSON
    
    block content
